ï»¿/* CSS Document */
/* é¦é¡µç¦ç¹å¾ */
.fullSlide { position:relative; z-index:1; background:#000; margin:0 auto; }
.fullSlide .bd{ position:relative; z-index:0; }
.fullSlide .bd li img{width:100%; vertical-align:top;  } 

.fullSlide .hd {height: 20px; position: absolute; bottom: 15px; left:50%; text-align:center; overflow: hidden;zoom: 1;z-index: 3;}
.fullSlide .hd ul { text-align:center;}
.fullSlide .hd ul li {float:left;margin:0 6px;width: 8px;height: 8px;border-radius:12px;background: #fff;font-size: 0;color: #FFF;line-height: 12px;text-align: center;cursor: pointer;}
.fullSlide .hd ul li.on {background: #19a1e9;width: 14px;}

.fullSlide .prev,.fullSlide .next { position:absolute; display:block; top:50%; width:55px; height:55px; margin:-28px 0 0 0; float:left;  background:url(../img/arrow.png) 0 0 no-repeat; filter:alpha(opacity=40);opacity:0.4}
.fullSlide .prev {left:3%;}
.fullSlide .next {right: 3%; background-position: right;}
.fullSlide .prev:hover,.fullSlide .next:hover{ filter:alpha(opacity=80);opacity:0.8 }




.main1 { }
.main1_1 { width:348px; height: 350px; float:right; padding: 10px 20px; background: #fff;}
.bg1 {background: url("../img/bg1.jpg") center bottom no-repeat #fff;}
.main1_2 { width:754px; height: 350px; float:left; padding: 10px 20px; background: #fff; }
.title1 { height:40px; padding-top: 5px; border-bottom:1px solid #cbcbcb;}
.title1 a.more { line-height:24px; float:right; font-size:13px; color:#aaa; display:block; padding-right:10px;}
.title1 a.more:hover { color:#333;}
.title1 h2 { float:left; font-size:18px; font-weight: normal; color: #333; padding-left:15px; line-height:16px; border-left:4px solid #19a1e9; margin-top:6px; }
.news1 dl { border-bottom:1px solid #cbcbcb; height:150px; overflow:hidden; padding:10px 0 10px 0;}

.news1 dl dt span { font-size:15px; color:#999;display: block; padding-top: 5px; line-height:180%;}
.news1 dl dt h2 { font-size:16px;}
.news1 dl dt h2 a { color:#c00}
.news1 dl dt h2 a:hover { color:#333;}
.news1 dl dd { color:#888; line-height:180%; padding-top:5px;}
.news1 ul li { line-height:30px; font-size:13px; height: 30px; text-overflow: ellipsis; overflow: hidden; padding-left:26px; background:url(../img/icon1.png) left center no-repeat;}
.news1a {}
.news1a ul li { line-height:34px; font-size:14px; height: 34px; text-overflow: ellipsis; overflow: hidden; padding-left:26px; background:url(../img/icon1a.png) left center no-repeat;}

.news1a ul li a {color: #333;}
.news1a ul li a:hover {color: #e82543;}



.main1_2 .hd { height:40px; padding-top: 5px; border-bottom:1px solid #cbcbcb;}
.main1_2 .hd a { line-height:34px; font-size: 20px;margin-bottom: -2px; color: #999999; float:left; height:45px; display:block; margin-right:50px;}
.main1_2 .hd a.on { border-bottom: 3px solid #19a1e9;  height: 39px; color:#333;}
.main1_2 .bd { position: relative; z-index: 1; }
.main1_2 .bd a.more {position: absolute; display: block; z-index: 2; right: 0; top: -50px;}


.main1_2_1 { width:367px; float:left; }

.main1pics {position: relative; width:367px; height:270px; z-index: 1; overflow:hidden;}
.main1pics .inprev, .main1pics .innext { display:none; position:absolute; z-index:200;top:50%; margin-top:-38px; width: 36px;height: 75px;background: url(../img/arrow_btn2.png) no-repeat;}
.main1pics .inprev {left: 0;}
.main1pics .innext {right: 0;background-position:right;}
.main1pics .m1num { height:22px; z-index:10; position:absolute; float:right; padding-right:10px; right:0; bottom:2px;}
.main1pics .m1num ul li { width:8px; height:8px; font-size:0; cursor:pointer; border-radius:5px; margin:0 5px; background:#fff; float:left;}
.main1pics .m1num ul li.on { background:#19a1e9; }

.m1pic li { position:relative; height:270px;}
.m1pic li img { width:367px; height:270px;}
.m1pic li a h2 { left:0; color:#fff; padding-left:20px; font-weight: normal;  bottom:0; right:0; height:40px; line-height:40px; font-size:14px;  position: absolute; z-index:10; background:rgba(0,0,0,0.6); }


.main1_2_2 { width:350px; float:right;}
.main1_2_2 ul {margin-top: -10px;}
.main1_2_2 ul li { height:34px; line-height: 34px; text-overflow: ellipsis; width: 100%; overflow: hidden; font-size: 14px;}
.main1_2_2 ul li a {color: #333;}
.main1_2_2 ul li a:hover {color: #19a1e9;}
.main1_3 { height:80px; }
.main1_3 a { display:block; float:left; margin-right:30px; font-size:24px; height:60px; line-height:60px; margin-top:20px; padding-left:70px;}

.main1_3 a.a1 { background:url(../img/icons/m1.png) left center no-repeat; }
.main1_3 a.a2 { background:url(../img/icons/m5.png) left center no-repeat; }
.main1_3 a.a3 { background:url(../img/icons/m3.png) left center no-repeat; }
.main1_3 a.a4 { background:url(../img/icons/m4.png) left center no-repeat; }

.main2 { height:560px; background:url(../img/main2_bg.jpg) center top no-repeat; background-size:100% 100%;}
.main2 h2 { text-align:center; padding:40px 0; color:#fff; font-size:36px;}
.main2_1 {float: left; width: 20%; text-align: center;}
.main2_1 span {display: block; width: 100%; height: 125px;}
.main2_1 span.a1 {background: url(../img/icons/n1.png) center top no-repeat;}
.main2_1 span.a2 {background: url(../img/icons/n2.png) center top no-repeat;}
.main2_1 span.a3{background: url(../img/icons/n3.png) center top no-repeat;}
.main2_1 span.a4 {background: url(../img/icons/n4.png) center top no-repeat;}
.main2_1 span.a5 {background: url(../img/icons/n5.png) center top no-repeat;}

.main2_1 a {color: #fff;display: block; line-height: 36px; font-size: 14px;}
.main2_1 a:hover {color: #ff0;}
.main2_1 h3 a {line-height: 300%; font-size: 20px;}


.main3 { height:775px; background:#efefef;}
.main3_1 { width:510px; float:left; padding-top:20px}
.main3_2 { width:650px; float:right;padding-top:20px}
.index_peo { height:250px;}
.index_peo .bd { margin-right:-30px;}
.index_peo ul li { width:215px; float:left; height:220px; padding:15px; margin-right:20px; background:#fff;}
.index_peo .peo1 img { padding-right:20px;}
.index_peo .peo1 a h2 { color:#333; font-size:18px; }
.index_peo .peo2 { font-size:13px; padding-top:10px; border-top:2px solid #ddd; line-height:160%;}
.index_peo .peo2 strong { color:#46a9a1;}

.index_sb { overflow:hidden; height:250px;}
.index_sb .bd { margin-right:-30px;}
.index_sb ul li { width:280px; float:left; height:220px; padding:15px; margin-right:30px; background:#fff;}
.index_sb ul li img { width:280px; height:auto; padding-bottom:6px;}
.index_sb ul li a { font-size:13px; text-align:center; display:block;}

.index_hj { overflow:hidden; height:210px; }
.index_hj ul li { width:320px; float:left; height:210px; margin-right:20px; background:#fff;}
.index_hj ul li a { display:block; position:relative; z-index:1;}
.index_hj ul li a span { background:rgba(0,0,0,0.6); height:30px; display:block; position:absolute; left:0; right:0; bottom:0; text-align:center; line-height:30px; font-size:13px; color:#fff; display:none;}
.index_hj ul li a:hover span { display:block; }

.in_search { background:#f2f2f2; padding:10px 0 10px 20px;}
.in_search label { float:left; display:block;}
.in_search input.input1 { font-size:14px; margin-right:15px; width:200px; height:30px; border:1px solid #ddd; border-radius:5px; padding-left:10px; line-height:30px; color:#888;}
.in_search input.input2 { font-size:14px; width:410px; height:30px; border:1px solid #ddd; border-radius:5px; padding-left:10px; line-height:30px; color:#888;}
.in_search a.sub { width:80px; margin-right:15px; border-radius:5px; border:1px solid #00629f; float:right; text-align:center; height:30px; line-height:30px; display:block; color:#fff; background:#0d97ee;}
.in_search a.sub:hover { background:#00629f;}
.in_search a.liuyan { width:80px; margin-right:15px; border-radius:5px; border:1px solid #38a000; float:right; text-align:center; height:30px; line-height:30px; display:block; color:#fff; background:#46c600;}
.in_search a.liuyan:hover { background:#38a000;}

.message { width:500px; overflow:hidden; background:#fff; padding:20px; border-radius:10px; top:300px; position:absolute; left:50%; margin-left:-270px;}
.message h2 { padding-left:25px; height:50px; font-size:20px; margin:-20px -20px 0 -20px; line-height:50px; background:#f2f2f2; border-bottom:1px solid #ddd;}
	.table2 th { padding:10px; line-height:20px; border-bottom:1px solid #eee; text-align:right; color:#555;}
	.table2 th span { color:#c00; padding-right:10px;}
	.table2 td { border-bottom:1px solid #efefef; padding:10px 15px;}
	.table2 .input3 { height:22px; line-height:22px; border:1px solid #ccc; background:url(../img/input_bg.gif) left top repeat-x #fbfbfb;  float:left; padding:0 5px; margin-right:20px; }
	.table2 .input4 { height:22px; line-height:22px; width:300px; border:1px solid #ccc; background:url(../img/input_bg.gif) left top repeat-x #fbfbfb;  float:left; padding:0 5px; margin-right:20px; }

	.table3 th { padding:10px; line-height:20px; border-bottom:1px solid #eee; text-align:right; color:#555;}
	.table3 th span { color:#c00; padding-right:10px;}
	.table3 td { border-bottom:1px solid #efefef; padding:10px 15px;}
	.table3 td input.input1 { width:200px; height:30px; line-height:30px; border:1px solid #ddd; padding-left:10px; border-radius:5px;}
	.table3 td input.input2 { width:100px; height:30px; line-height:30px; border:1px solid #ddd; padding-left:10px; border-radius:5px;}
	.table3 td select.select1 { width:202px; height:32px; line-height:32px; border:1px solid #ddd; padding-left:10px; border-radius:5px;}

	a.ok { height:34px; float:left; margin-right:20px; line-height:34px; border-radius:4px;  display:block; text-align:center; width:120px; font-size:13px; font-weight:bold; font-family:"å¾®è½¯éé»", "é»ä½";}
	a.ok:link,a.ok:visited { color:#fff; background:#1383f1;}
	a.ok:hover { color:#fff; background:#50a8ff;}

	a.cancer { height:34px; float:left; line-height:34px; border-radius:4px;  display:block; text-align:center; width:120px; font-size:13px; font-weight:bold; font-family:"å¾®è½¯éé»", "é»ä½";}
	a.cancer:link,a.cancer:visited { color:#fff; background:#46c600;}
	a.cancer:hover { color:#fff; background:#38a000;}
	h2.mes_h2 {height:40px; margin-bottom:20px; line-height:40px;font-size:18px; font-weight:normal; color:#333; border-bottom:1px solid #ccc; background:url(../img/pl_icon.png) 5px center no-repeat; padding-left:40px;}
	.mes_h2a {height:40px; line-height:40px; margin-left:30px; font-size:18px; font-weight:normal; color:#333; border-bottom:1px solid #ccc; background:url(../img/pl_icon2.png) 5px center no-repeat; padding-left:40px;}
	.mes_infor { padding:10px 40px 10px 70px; line-height:24px; color:#666; border-bottom:1px dashed #ccc;}
.gonggao { padding-left:30px; border-bottom:1px solid #eee;}	
.gonggao dl { padding:10px 0; background:url(../img/line_pic2.png) 25px top repeat-y;}
.gonggao dl dt { width:50px; height:40px; float:left; margin-top:5px; background:url(../img/gonggao_icon.png) 10px top no-repeat;}
.gonggao dl dd { padding-left:60px; color:#666; line-height:200%;}
.gonggao dl dd h2 { line-height:200%; font-size:16px; color:#19a1e9; }
	.huifu { padding:10px 20px; color:#19a1e9; margin-top:10px; background:#f1f1f1; border-radius:4px;}
	.huifu p { padding-top:10px; color:#666;}

.pics_list { margin-right:-20px; margin-left:20px;}
.pics_list ul li { width:250px; float:left; margin-right:25px; margin-bottom:20px;}
.pics_list ul li a { display:block; position:relative; z-index:1;}
.pics_list ul li a img { width:250px; height:180px;}
.pics_list ul li a h2 {display:block; font-size:13px; color:#fff; background: rgba(0,0,0,0.7); position:absolute; left:0; bottom:0; right:0; height:30px; line-height:30px; text-align:center;}
.pics_list ul li a:hover h2 { color:#fff; background: rgba(0,93,207,0.7); }

.keshi_infor {}
.keshi_infor .hd { padding-bottom:20px; padding-left:40px; height:40px; border-bottom:1px solid #ddd;}
.keshi_infor .hd a { display:block; line-height:40px; border-radius:0 10px 0 10px; margin-right:20px; float:left; font-size:20px; padding:0 40px; color:#fff; background:#ccc;}
.keshi_infor .hd a.on { color:#fff; background:#19a1e9;}
.bb .index_peo { padding-left:20px; margin-right:-30px;}
.bb .index_peo li { box-shadow:0 0 8px -2px #aaa; margin-right:20px; margin-bottom:30px; }
.bb .index_peo li:hover {box-shadow:0 0 8px -2px #19a1e9;}
.keshi_infor .bd { padding:0 20px;} 
.index_links {width: 100%; overflow: hidden; padding-top: 20px; }
.index_links ul li {float: left; margin-right: 10px; width: auto !important;}
.index_links ul li img {height: 40px; height: auto;}
.bb .right_menus h2 {padding-bottom: 15px; margin-top: -20px; color: #333; padding-left:20px;}
.bb .rm1 {padding-left: 20px;}
.bb .rm1 a {display: block; border-radius:6px; float: left; margin-right: 20px; font-size: 15px; line-height: 28px; padding: 0 20px; color: #fff; background: #3c9fd3;}
.bb .rm1 a:hover { background: #19a1e9; color: #fff;}

.title2	 {text-align: center; height: 90px; margin-top: -30px; background: url(../img/title_bg.png) center center no-repeat;}
.title2 h2 {font-size: 30px; color: #333; font-weight: normal; line-height: 90px;}

.main_gray {background: #f8f8f8; padding: 20px 0  0;}

.main5_1 {float: left; width: 388px; margin-right:18px ;}
.main5_2 {float: right; width: 388px;}

.news3	{ padding: 15px 15px 0 20px; border-top:0; background: #fff; height: 210px;}
.news3	h2 { font-size: 20px; font-weight: normal; height: 40px;}
.news3	h2 a {color: #333;}
.news3	h2 a:hover {color: #19a1e9;}
.news3	ul li {padding-left:25px; background:url(../img/icon1.png) left center no-repeat; font-size: 15px; line-height: 30px;}

.main6_1 { margin: 0 -12px 0 -7px; position: relative; z-index: 1;}

.main6_1 ul li {width: 226px; float: left; margin: 0 8px;}
.main6_1 ul li a {display: block; background: #fff; height: 490px;}
.main6_1 ul li a:hover img {filter:alpha(opacity=80);opacity:0.8} 
.main6_1 ul li a .peonew1 {padding: 15px 0 15px 0; color: #333; font-size: 16px; margin: 0 15px; border-bottom: 1px solid #eee;}
.main6_1 ul li a .peonew2 {padding: 10px 15px 0; font-size: 16px; line-height: 180%; color: #999;}
.main6_1 ul li .peonew1 h2 {padding-bottom: 10px; color: #333;}
.main6_1 ul li a:hover .peonew1 h2 {color: #19a1e9;}

.main6_1 .more {position: absolute; z-index: 2; right: 18px; float: left; top: -45px;}
.main6_1 .more a {display: block; float: left; margin-left: 10px; line-height: 32px;}
.main6_1 .more a.prev,.main6_1 .more a.next {height: 30px; width: 30px; line-height: 30px; color: #333; text-align: center; border: 1px solid #aaa;}
.main6_1 .more a.prev:hover,.main6_1 .more a.next:hover {color: #fff; background: #19a1e9; border: 1px solid #19a1e9;}
.main6_1 .more a.more1 {margin-left: 20px;}

.main_pics a { display: block;}
.main_pics a:hover img {box-shadow: 0 0 20px -4px #16a0e9;}


.news_list2 {}
.news_list2 ul li { padding:15px 15px 15px 20px; background: #fff; border-bottom: 1px dashed #eee; position: relative; z-index: 1;}
.news_list2 ul li:hover {box-shadow: 0 0 20px -6px #999; position: relative; z-index: 100;}
.news_list2 ul li a span { font-size:13px; color: #999; float: left;display: block; position: absolute; right: 0; top: 0; }
.news_list2 ul li a {display: block; position: relative; z-index: 1; padding-left: 30px; background: url("../img/icon1.png") left center no-repeat;}
.news_list2 ul li a:hover {background: url("../img/icon1.png") left center no-repeat;}
.news_list2 ul li a h3 { font-weight: normal; font-size: 16px; line-height: 100%; padding-right: 120px;}

.peourls {background: #fff; padding: 20px 0;}

