/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, div, ul, ol, li, dl, dt, dd, p, form, input, select, button, textarea, table, tr, th, td, iframe {margin: 0;padding: 0;}
ul, ol {list-style: none;}
img {border: 0;vertical-align: top;-ms-interpolation-mode: bicubic;}

body {font-family: Arial, "å¾®è½¯éé»","å®ä½";font-size: 14px;color: #666;
background: #fff;}

/* é¾æ¥ */
a {color: #888;text-decoration: none;transition: all 0.3s;
-moz-transition: all 0.3s;	/* Firefox 4 */
-webkit-transition: all 0.3s;	/* Safari å Chrome */
-o-transition: all 0.3s;}
a:hover { color:#16a0e9;}
/* æå­å¤§å° */
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}

/* é¢è² */
.red {color: #F00;}
.gray {	color: #666;}
.lightgray {color: #999;}
.green { color:green;}

/* è¡¨å */
input, select, textarea, label {font-family: Arial, "å¾®è½¯éé»";font-size: 12px;vertical-align: middle;}
.form_text {padding-left: 3px;height: 22px;border: 1px solid #CCC;border-radius: 2px;line-height: 22px;}
.form_select {padding-left: 3px;height: 24px;border: 1px solid #CCC;border-radius: 2px;line-height: 22px;_width:80px; min-width:80px;margin-right:15px;}
.form_textarea {padding-left: 3px;border: 1px solid #CCC;border-radius: 2px;line-height: 22px;}
.form_btn {padding: 5px 15px;overflow: visible;}

label.form_check { height:30px; line-height:30px; padding:0 30px 0 20px; display:block; float:left; position:relative; z-index:1;}
label.form_check input { position:absolute; z-index:20; left:0; bottom:8px;}


/* é¡µé¢å¸å± */
.container {margin:0 auto;width: 1200px;}
.container2 {margin:0 auto;width: 1000px;}

/* æµ®å¨ */
.f_l {float: left;}
.f_r {float: right;}
.clear { clear:both; font-size:0; height:0; overflow:hidden;}
.clear1 { clear:both; font-size:10px; height:10px; overflow:hidden; line-height:10px;}
.clear2 { clear:both; font-size:20px; height:20px; overflow:hidden; line-height:20px;}
.clear3 { clear:both; font-size:20px; height:35px; overflow:hidden; line-height:35px;}
.clear5 { clear:both; font-size:20px; height:55px; overflow:hidden; line-height:55px;}
.clearline {clear:both; font-size:15px; height:15px; overflow:hidden; line-height:15px; border-bottom:1px solid #eee; margin-bottom:15px; }
