requests
beautifulsoup4
pandas
numpy==1.26.4
openpyxl
sentence-transformers==5.1.2
transformers==4.57.6
tokenizers==0.22.2
flask
gunicorn
Flask-APScheduler
pdfplumber
psutil
datasketch
PyMuPDF
jieba
gevent
pypinyin
lxml
python-dotenv
tencentcloud-sdk-python-iai
tencentcloud-sdk-python-common
Pillow
